name: Falcon Challenge CI
on: [push, pull_request]
jobs:
  pipeline:
    name: Falcon Challenge Pipeline
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.pull_request.title, '[skip ci]') && !contains(github.event.pull_request.title, '[ci skip]')"
    timeout-minutes: 30
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
      - name: Setup Java 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Run unit and integration tests
        run: |
          chmod +x mvnw
          ./mvnw -ntp verify --batch-mode
      - name: Analyze coverage with codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true
      - name: Login to the Github Container Registry
        uses: docker/login-action@v2
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build the Docker Image
        run: |
          docker build --tag ghcr.io/${{ github.actor }}/{{ github.repository }}:latest .
          docker run ghcr.io/${{ github.actor }}/{{ github.repository }}:latest
          docker push ghcr.io/${{ github.actor }}/{{ github.repository }}:latest
